* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-game {
  width: 400px;
  height: 400px;
  background: white;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.board-game > span {
  width: 33.33333%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  font-size: 30px;
  position: relative;
  outline: 1px solid #ccc;
}

.board-game > span:hover {
  background: #eee;
}
